--
-- PostgreSQL database dump
--

-- Dumped from database version 17.2
-- Dumped by pg_dump version 17.2

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO postgres;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO postgres;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO postgres;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_claim; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.core_claim (
    id bigint NOT NULL,
    failure_date date NOT NULL,
    operating_hours integer NOT NULL,
    failure_description text NOT NULL,
    spare_parts text NOT NULL,
    recovery_date date,
    failure_node_id bigint NOT NULL,
    machine_id bigint NOT NULL,
    recovery_method_id bigint NOT NULL,
    service_company_id bigint NOT NULL,
    CONSTRAINT core_claim_operating_hours_check CHECK ((operating_hours >= 0))
);


ALTER TABLE public.core_claim OWNER TO postgres;

--
-- Name: core_claim_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.core_claim ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_claim_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_directory; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.core_directory (
    id bigint NOT NULL,
    entity character varying(30) NOT NULL,
    name character varying(255) NOT NULL,
    description text NOT NULL
);


ALTER TABLE public.core_directory OWNER TO postgres;

--
-- Name: core_directory_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.core_directory ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_directory_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_machine; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.core_machine (
    id bigint NOT NULL,
    serial_number character varying(255) NOT NULL,
    engine_serial_number character varying(255) NOT NULL,
    transmission_serial_number character varying(255) NOT NULL,
    drive_axle_serial_number character varying(255) NOT NULL,
    steering_axle_serial_number character varying(255) NOT NULL,
    supply_contract character varying(100) NOT NULL,
    shipment_date date NOT NULL,
    consignee character varying(100) NOT NULL,
    operation_address character varying(300) NOT NULL,
    equipment text NOT NULL,
    client_id bigint NOT NULL,
    drive_axle_model_id bigint NOT NULL,
    engine_model_id bigint NOT NULL,
    machine_model_id bigint NOT NULL,
    service_company_id bigint NOT NULL,
    steering_axle_model_id bigint NOT NULL,
    transmission_model_id bigint NOT NULL
);


ALTER TABLE public.core_machine OWNER TO postgres;

--
-- Name: core_machine_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.core_machine ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_machine_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_maintenance; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.core_maintenance (
    id bigint NOT NULL,
    maintenance_date date NOT NULL,
    operating_hours integer NOT NULL,
    work_order_number character varying(100) NOT NULL,
    work_order_date date NOT NULL,
    machine_id bigint NOT NULL,
    maintenance_organization_id bigint NOT NULL,
    maintenance_type_id bigint NOT NULL,
    service_company_id bigint NOT NULL,
    CONSTRAINT core_maintenance_operating_hours_check CHECK ((operating_hours >= 0))
);


ALTER TABLE public.core_maintenance OWNER TO postgres;

--
-- Name: core_maintenance_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.core_maintenance ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_maintenance_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.core_user (
    id bigint NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL,
    role character varying(20) NOT NULL,
    company_description text NOT NULL,
    company_name character varying(255) NOT NULL
);


ALTER TABLE public.core_user OWNER TO postgres;

--
-- Name: core_user_groups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.core_user_groups (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.core_user_groups OWNER TO postgres;

--
-- Name: core_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.core_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.core_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_user_user_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.core_user_user_permissions (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.core_user_user_permissions OWNER TO postgres;

--
-- Name: core_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.core_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id bigint NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO postgres;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO postgres;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO postgres;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO postgres;

--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: core_claim; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.core_claim (id, failure_date, operating_hours, failure_description, spare_parts, recovery_date, failure_node_id, machine_id, recovery_method_id, service_company_id) FROM stdin;
1	2026-08-20	10000	╨б╨╗╨╛╨╝╨░╨╗╨░╤Б╤М		2026-08-20	6	1	16	6
\.


--
-- Data for Name: core_directory; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: core_machine; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: core_maintenance; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.core_maintenance (id, maintenance_date, operating_hours, work_order_number, work_order_date, machine_id, maintenance_organization_id, maintenance_type_id, service_company_id) FROM stdin;
1	2026-08-20	10000	111	2026-08-19	1	20	12	6
2	2026-08-20	9000	002	2026-08-19	3	21	15	6
3	2026-08-06	5000	003	2026-08-06	2	21	14	6
\.


--
-- Data for Name: core_user; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: core_user_groups; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.core_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: core_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.core_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	group
3	auth	permission
4	contenttypes	contenttype
5	sessions	session
6	core	directory
7	core	machine
8	core	user
9	core	maintenance
10	core	claim
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 40, true);


--
-- Name: core_claim_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.core_claim_id_seq', 1, true);


--
-- Name: core_directory_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.core_directory_id_seq', 32, true);


--
-- Name: core_machine_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.core_machine_id_seq', 3, true);


--
-- Name: core_maintenance_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.core_maintenance_id_seq', 3, true);


--
-- Name: core_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.core_user_groups_id_seq', 1, false);


--
-- Name: core_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.core_user_id_seq', 6, true);


--
-- Name: core_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.core_user_user_permissions_id_seq', 1, false);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 57, true);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 10, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 21, true);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: core_claim core_claim_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_claim
    ADD CONSTRAINT core_claim_pkey PRIMARY KEY (id);


--
-- Name: core_directory core_directory_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_directory
    ADD CONSTRAINT core_directory_pkey PRIMARY KEY (id);


--
-- Name: core_machine core_machine_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_machine
    ADD CONSTRAINT core_machine_pkey PRIMARY KEY (id);


--
-- Name: core_machine core_machine_serial_number_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_machine
    ADD CONSTRAINT core_machine_serial_number_key UNIQUE (serial_number);


--
-- Name: core_maintenance core_maintenance_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_maintenance
    ADD CONSTRAINT core_maintenance_pkey PRIMARY KEY (id);


--
-- Name: core_user_groups core_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_user_groups
    ADD CONSTRAINT core_user_groups_pkey PRIMARY KEY (id);


--
-- Name: core_user_groups core_user_groups_user_id_group_id_c82fcad1_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_user_groups
    ADD CONSTRAINT core_user_groups_user_id_group_id_c82fcad1_uniq UNIQUE (user_id, group_id);


--
-- Name: core_user core_user_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_user
    ADD CONSTRAINT core_user_pkey PRIMARY KEY (id);


--
-- Name: core_user_user_permissions core_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_user_user_permissions
    ADD CONSTRAINT core_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: core_user_user_permissions core_user_user_permissions_user_id_permission_id_73ea0daa_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_user_user_permissions
    ADD CONSTRAINT core_user_user_permissions_user_id_permission_id_73ea0daa_uniq UNIQUE (user_id, permission_id);


--
-- Name: core_user core_user_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_user
    ADD CONSTRAINT core_user_username_key UNIQUE (username);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: core_claim_failure_node_id_6af303c5; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_claim_failure_node_id_6af303c5 ON public.core_claim USING btree (failure_node_id);


--
-- Name: core_claim_machine_id_b6031711; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_claim_machine_id_b6031711 ON public.core_claim USING btree (machine_id);


--
-- Name: core_claim_recovery_method_id_dbf14cdf; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_claim_recovery_method_id_dbf14cdf ON public.core_claim USING btree (recovery_method_id);


--
-- Name: core_claim_service_company_id_c7eb030c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_claim_service_company_id_c7eb030c ON public.core_claim USING btree (service_company_id);


--
-- Name: core_machine_client_id_1b9162e0; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_machine_client_id_1b9162e0 ON public.core_machine USING btree (client_id);


--
-- Name: core_machine_drive_axle_model_id_3ded5b84; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_machine_drive_axle_model_id_3ded5b84 ON public.core_machine USING btree (drive_axle_model_id);


--
-- Name: core_machine_engine_model_id_0ab380e2; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_machine_engine_model_id_0ab380e2 ON public.core_machine USING btree (engine_model_id);


--
-- Name: core_machine_machine_model_id_6c47d859; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_machine_machine_model_id_6c47d859 ON public.core_machine USING btree (machine_model_id);


--
-- Name: core_machine_serial_number_afb1764a_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_machine_serial_number_afb1764a_like ON public.core_machine USING btree (serial_number varchar_pattern_ops);


--
-- Name: core_machine_service_company_id_49a05dfe; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_machine_service_company_id_49a05dfe ON public.core_machine USING btree (service_company_id);


--
-- Name: core_machine_steering_axle_model_id_051f6970; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_machine_steering_axle_model_id_051f6970 ON public.core_machine USING btree (steering_axle_model_id);


--
-- Name: core_machine_transmission_model_id_c7848b82; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_machine_transmission_model_id_c7848b82 ON public.core_machine USING btree (transmission_model_id);


--
-- Name: core_maintenance_machine_id_2cb0e2b0; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_maintenance_machine_id_2cb0e2b0 ON public.core_maintenance USING btree (machine_id);


--
-- Name: core_maintenance_maintenance_organization_id_c2bb81cf; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_maintenance_maintenance_organization_id_c2bb81cf ON public.core_maintenance USING btree (maintenance_organization_id);


--
-- Name: core_maintenance_maintenance_type_id_9fef9b86; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_maintenance_maintenance_type_id_9fef9b86 ON public.core_maintenance USING btree (maintenance_type_id);


--
-- Name: core_maintenance_service_company_id_4930882a; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_maintenance_service_company_id_4930882a ON public.core_maintenance USING btree (service_company_id);


--
-- Name: core_user_groups_group_id_fe8c697f; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_user_groups_group_id_fe8c697f ON public.core_user_groups USING btree (group_id);


--
-- Name: core_user_groups_user_id_70b4d9b8; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_user_groups_user_id_70b4d9b8 ON public.core_user_groups USING btree (user_id);


--
-- Name: core_user_user_permissions_permission_id_35ccf601; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_user_user_permissions_permission_id_35ccf601 ON public.core_user_user_permissions USING btree (permission_id);


--
-- Name: core_user_user_permissions_user_id_085123d3; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_user_user_permissions_user_id_085123d3 ON public.core_user_user_permissions USING btree (user_id);


--
-- Name: core_user_username_36e4f7f7_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_user_username_36e4f7f7_like ON public.core_user USING btree (username varchar_pattern_ops);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_claim core_claim_failure_node_id_6af303c5_fk_core_directory_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_claim
    ADD CONSTRAINT core_claim_failure_node_id_6af303c5_fk_core_directory_id FOREIGN KEY (failure_node_id) REFERENCES public.core_directory(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_claim core_claim_machine_id_b6031711_fk_core_machine_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_claim
    ADD CONSTRAINT core_claim_machine_id_b6031711_fk_core_machine_id FOREIGN KEY (machine_id) REFERENCES public.core_machine(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_claim core_claim_recovery_method_id_dbf14cdf_fk_core_directory_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_claim
    ADD CONSTRAINT core_claim_recovery_method_id_dbf14cdf_fk_core_directory_id FOREIGN KEY (recovery_method_id) REFERENCES public.core_directory(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_claim core_claim_service_company_id_c7eb030c_fk_core_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_claim
    ADD CONSTRAINT core_claim_service_company_id_c7eb030c_fk_core_user_id FOREIGN KEY (service_company_id) REFERENCES public.core_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_machine core_machine_client_id_1b9162e0_fk_core_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_machine
    ADD CONSTRAINT core_machine_client_id_1b9162e0_fk_core_user_id FOREIGN KEY (client_id) REFERENCES public.core_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_machine core_machine_drive_axle_model_id_3ded5b84_fk_core_directory_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_machine
    ADD CONSTRAINT core_machine_drive_axle_model_id_3ded5b84_fk_core_directory_id FOREIGN KEY (drive_axle_model_id) REFERENCES public.core_directory(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_machine core_machine_engine_model_id_0ab380e2_fk_core_directory_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_machine
    ADD CONSTRAINT core_machine_engine_model_id_0ab380e2_fk_core_directory_id FOREIGN KEY (engine_model_id) REFERENCES public.core_directory(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_machine core_machine_machine_model_id_6c47d859_fk_core_directory_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_machine
    ADD CONSTRAINT core_machine_machine_model_id_6c47d859_fk_core_directory_id FOREIGN KEY (machine_model_id) REFERENCES public.core_directory(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_machine core_machine_service_company_id_49a05dfe_fk_core_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_machine
    ADD CONSTRAINT core_machine_service_company_id_49a05dfe_fk_core_user_id FOREIGN KEY (service_company_id) REFERENCES public.core_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_machine core_machine_steering_axle_model__051f6970_fk_core_dire; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_machine
    ADD CONSTRAINT core_machine_steering_axle_model__051f6970_fk_core_dire FOREIGN KEY (steering_axle_model_id) REFERENCES public.core_directory(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_machine core_machine_transmission_model_i_c7848b82_fk_core_dire; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_machine
    ADD CONSTRAINT core_machine_transmission_model_i_c7848b82_fk_core_dire FOREIGN KEY (transmission_model_id) REFERENCES public.core_directory(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_maintenance core_maintenance_machine_id_2cb0e2b0_fk_core_machine_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_maintenance
    ADD CONSTRAINT core_maintenance_machine_id_2cb0e2b0_fk_core_machine_id FOREIGN KEY (machine_id) REFERENCES public.core_machine(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_maintenance core_maintenance_maintenance_organiza_c2bb81cf_fk_core_dire; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_maintenance
    ADD CONSTRAINT core_maintenance_maintenance_organiza_c2bb81cf_fk_core_dire FOREIGN KEY (maintenance_organization_id) REFERENCES public.core_directory(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_maintenance core_maintenance_maintenance_type_id_9fef9b86_fk_core_dire; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_maintenance
    ADD CONSTRAINT core_maintenance_maintenance_type_id_9fef9b86_fk_core_dire FOREIGN KEY (maintenance_type_id) REFERENCES public.core_directory(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_maintenance core_maintenance_service_company_id_4930882a_fk_core_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_maintenance
    ADD CONSTRAINT core_maintenance_service_company_id_4930882a_fk_core_user_id FOREIGN KEY (service_company_id) REFERENCES public.core_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_user_groups core_user_groups_group_id_fe8c697f_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_user_groups
    ADD CONSTRAINT core_user_groups_group_id_fe8c697f_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_user_groups core_user_groups_user_id_70b4d9b8_fk_core_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_user_groups
    ADD CONSTRAINT core_user_groups_user_id_70b4d9b8_fk_core_user_id FOREIGN KEY (user_id) REFERENCES public.core_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_user_user_permissions core_user_user_permi_permission_id_35ccf601_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_user_user_permissions
    ADD CONSTRAINT core_user_user_permi_permission_id_35ccf601_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_user_user_permissions core_user_user_permissions_user_id_085123d3_fk_core_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_user_user_permissions
    ADD CONSTRAINT core_user_user_permissions_user_id_085123d3_fk_core_user_id FOREIGN KEY (user_id) REFERENCES public.core_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_core_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_core_user_id FOREIGN KEY (user_id) REFERENCES public.core_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

