<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Электронная сервисная книжка "Мой Силант"</title>
</head>
<body>
<header>
    <div>
        Логотип
    </div>
    <div>
        <p>
            +7-8352-20-12-09, telegram
        </p>

    {% if user.is_authenticated %}
        <p>
            Пользователь:
                {{ user.username }}
        </p>

        <a href="{% url 'core:logout' %}">Выйти</a>
    {% else %}
        <a href="{% url 'core:login' %}">Войти</a>
    {% endif %}
    </div>
    <h1>
        Электронная сервисная книжка "Мой Силант"
    </h1>
</header>
<main>
    {% block content %}

    {% endblock %}
</main>
<footer>
    <p>
        +7-8352-20-12-09, telegram
    </p>
    <p>
        Мой Силант 2022
    </p>
</footer>
</body>
</html>